.wrapper{
    /*background-color:blanchedalmond;*/
    width: 100%;
    height: auto;
    margin: auto;
    box-sizing: border-box;

}

.tituloSeccion{
   color: #EAEBEB;
}

.contenedor {
    background-image:url("../images/handsBlur.png");
    
   background-color: blueviolet;
   background-size:cover;
    background-repeat: no-repeat;
    /*grid-auto-flow: column;
    grid-gap:12%;*/
    width: 100%;
    height: auto;
    /*margin: auto;*/
    
}

.up1{
    border-radius: 9% 0% 0% 9%;
    width:13%;
    height:auto;
}
.barra1{
    display: flex;
    background-color: #EAEBEB;
    border-radius: 20px;
    width: 95%;
    height: auto;
    box-sizing: border-box;
    margin:auto;
}
.descripcion{
    box-sizing: border-box;
    width:100%;
    height: auto;
}

.texto{
    font-size: 1.5em;
}


