
.banner{
    background-image:url("./bannerhead.png");
    background-color: aqua;
    box-sizing: border-box;
    width:100%;
    height: auto;
    margin:auto;
}

a{
     color:#EAEBEB;
     font-size: 1.8em;
}

a:link{
    color:#EAEBEB;
    text-decoration: none;

}

a:visited{
    color:#EAEBEB;
}

a:hover{
    color:#C22D32;
    text-decoration: underline;
}
a:active{
    color:#EAEBEB;
    text-decoration: none;
}

.upperMenu{
    background-color: #2E3091;
    display: grid;
    list-style-type: none;
    grid-auto-flow: column;
    grid-gap:12% ;
    margin: auto;
}

.logo{
    width: auto;
    height: auto;
    box-sizing: border-box;
    margin: auto;
}