button{
    color:black;
    background-color: gray;
    width: 90px;
    height:35px;
    font-weight: bold;
    color:black;
    border: 1px solid white;
    border-radius: 11px;
    cursor:pointer;
    margin:5px;
   
}

button:hover{
    background-color: #00471b;
}

button:active{
    background-color: red;
}
