.contador{
    background-color: #707070;
    width: 60px;
    height: 60px;
    font-size:3em;
    color:#2E3091;
    margin:auto;
    text-align: center;
    border:2px solid red;
    padding:1%;
}

